In [1]:
''' Objective: create a model that can take a description of a book and match it with a publisher'''

''' The model will take the description of a book, and put it into a catergory. That catergory would match with the publisher
that published the book. The model should be able to predice which category a new book belongs to when given the description for that book. 
Note these categories are not genres, but it is a caterigorization system that matches certain descriptions with publishers.
The real world effect of this project would be to have an author use this model and their description of their book to
find a publisher that is most likely going to publish their book, based on the publishers history of published book. '''

' The model will take the description of a book, and put it into a catergory. That catergory would match with the publisher\nthat published the book. The model should be able to predice which category a new book belongs to when given the description for that book. \nNote these categories are not genres, but it is a caterigorization system that matches certain descriptions with publishers.\nThe real world effect of this project would be to have an author use this model and their description of their book to\nfind a publisher that is most likely going to publish their book, based on the publishers history of published book. '

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
from statistics import mean 
import os 
import glob
from pathlib import Path

In [3]:
# the goal for this line of code is to take all the good read files and combine it into one : credit sam partee https://www.kaggle.com/spartee
full_ds = pd.concat([pd.read_csv(str(x.resolve())) for x in Path("/Users/zakir/DS Projects/goodreads_csv_file").glob("*k.csv")])
full_ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1850310 entries, 0 to 34758
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Id                     int64
 1   Name                   object
 2   Authors                object
 3   ISBN                   object
 4   Rating                 float64
 5   PublishYear            int64
 6   PublishMonth           int64
 7   PublishDay             int64
 8   Publisher              object
 9   RatingDist5            object
 10  RatingDist4            object
 11  RatingDist3            object
 12  RatingDist2            object
 13  RatingDist1            object
 14  RatingDistTotal        object
 15  CountsOfReview         int64
 16  Language               object
 17  PagesNumber            float64
 18  Description            object
 19  pagesNumber            float64
 20  Count of text reviews  float64
dtypes: float64(4), int64(5), object(12)
memory usage: 310.6+ MB

In [4]:
# checking the names of all the columns
print(full_ds.head)

<bound method NDFrame.head of             Id                                               Name  \
0      1900511                                         Barbarossa
1      1900512  Collector's Guide to German World War II: Comb...
2      1900514                               Images of Barbarossa
3      1900520        Romania After 2000: Five New Romanian Plays
4      1900521           Global Foreigners: An Anthology of Plays
...        ...                                                ...
34754  1499988         Irish Folk and Fairy Tales Omnibus Edition
34755  1499990              Robin Hood: The Shaping of the Legend
34756  1499991  International Business: Competing in the Globa...
34757  1499992                                 Competing on Value
34758  1499999  Fantastic Antone Grows Up: Adolescents and Adu...

                      Authors        ISBN  Rating  PublishYear  PublishMonth  \
0          Christopher Ailsby  1840138009    3.00         2007             4
1          Christopher Ailsby  0781802253    0.00         1994             7
2          Christopher Ailsby  0711028257    3.50         2001             1
3      Daniel Charles Gerould  0595436560    4.00         2007             9
4            Saviana Stănescu  1905422423    4.60         2006            12
...                       ...         ...     ...          ...           ...
34754           Michael Scott  0751508861    4.19         1989            24
34755      Jeffrey L. Singman  0313301018    3.00         1998            23
34756       Charles W.L. Hill  0073102555    3.73         2005             1
34757              Mack Hanan  0814450369    3.50         1991            22
34758        Judith Kleinfeld  1889963119    4.00         2000             1

       PublishDay                                    Publisher RatingDist5  \
0               1                               New Line Books         5:0
1               1                             Hippocrene Books         5:0
2              25                                Ian Allan Ltd         5:0
3               1  Martin E. Segal Theatre Center Publications         5:1
4               7                                Seagull Books         5:4
...           ...                                          ...         ...
34754           8                                       Sphere       5:140
34755           7                                      Praeger         5:0
34756          12                            Irwin/McGraw-Hill       5:105
34757           4                                       Amacom         5:2
34758           1                   University of Alaska Press         5:4

       ... RatingDist3 RatingDist2 RatingDist1 RatingDistTotal CountsOfReview  \
0      ...         3:1         2:0         1:0         total:1              0
1      ...         3:0         2:0         1:0         total:0              0
2      ...         3:2         2:1         1:0         total:8              0
3      ...         3:1         2:0         1:0         total:6              0
4      ...         3:1         2:0         1:0         total:5              0
...    ...         ...         ...         ...             ...            ...
34754  ...        3:42        2:13         1:4       total:311             10
34755  ...         3:1         2:0         1:0         total:1              0
34756  ...        3:89        2:26        1:19       total:345              8
34757  ...         3:2         2:2         1:0         total:8              1
34758  ...         3:4         2:0         1:0        total:13              4

       Language PagesNumber  \
0           NaN       192.0
1           NaN       160.0
2           NaN       256.0
3           NaN       226.0
4           NaN       320.0
...         ...         ...
34754       NaN         NaN
34755       NaN         NaN
34756       NaN         NaN
34757       NaN         NaN
34758       NaN         NaN

                                             Description pagesNumber  \
0      On 22 June 1941, Adolf Hitler launched Operati...         NaN
1                                                    NaN         NaN
2      On 22 June 1941, Adolf Hitler launched Operati...         NaN
3      The first anthology of new Romanian Drama publ...         NaN
4      In Waxing West, Daniella, newly arrived in the...         NaN
...                                                  ...         ...
34754  Here, collected in one volume, are tales and l...       637.0
34755  Among the narrative traditions of the Middle A...       224.0
34756                                                NaN       740.0
34757  Presents a new approach to selling that emphas...       220.0
34758  <i>Fantastic Antone Grows Up</i> is a field gu...       425.0

       Count of text reviews
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN
...                      ...
34754                   10.0
34755                    0.0
34756                    8.0
34757                    1.0
34758                    4.0

[1850310 rows x 21 columns]>

In [5]:
print(full_ds.tail)

<bound method NDFrame.tail of             Id                                               Name  \
0      1900511                                         Barbarossa
1      1900512  Collector's Guide to German World War II: Comb...
2      1900514                               Images of Barbarossa
3      1900520        Romania After 2000: Five New Romanian Plays
4      1900521           Global Foreigners: An Anthology of Plays
...        ...                                                ...
34754  1499988         Irish Folk and Fairy Tales Omnibus Edition
34755  1499990              Robin Hood: The Shaping of the Legend
34756  1499991  International Business: Competing in the Globa...
34757  1499992                                 Competing on Value
34758  1499999  Fantastic Antone Grows Up: Adolescents and Adu...

                      Authors        ISBN  Rating  PublishYear  PublishMonth  \
0          Christopher Ailsby  1840138009    3.00         2007             4
1          Christopher Ailsby  0781802253    0.00         1994             7
2          Christopher Ailsby  0711028257    3.50         2001             1
3      Daniel Charles Gerould  0595436560    4.00         2007             9
4            Saviana Stănescu  1905422423    4.60         2006            12
...                       ...         ...     ...          ...           ...
34754           Michael Scott  0751508861    4.19         1989            24
34755      Jeffrey L. Singman  0313301018    3.00         1998            23
34756       Charles W.L. Hill  0073102555    3.73         2005             1
34757              Mack Hanan  0814450369    3.50         1991            22
34758        Judith Kleinfeld  1889963119    4.00         2000             1

       PublishDay                                    Publisher RatingDist5  \
0               1                               New Line Books         5:0
1               1                             Hippocrene Books         5:0
2              25                                Ian Allan Ltd         5:0
3               1  Martin E. Segal Theatre Center Publications         5:1
4               7                                Seagull Books         5:4
...           ...                                          ...         ...
34754           8                                       Sphere       5:140
34755           7                                      Praeger         5:0
34756          12                            Irwin/McGraw-Hill       5:105
34757           4                                       Amacom         5:2
34758           1                   University of Alaska Press         5:4

       ... RatingDist3 RatingDist2 RatingDist1 RatingDistTotal CountsOfReview  \
0      ...         3:1         2:0         1:0         total:1              0
1      ...         3:0         2:0         1:0         total:0              0
2      ...         3:2         2:1         1:0         total:8              0
3      ...         3:1         2:0         1:0         total:6              0
4      ...         3:1         2:0         1:0         total:5              0
...    ...         ...         ...         ...             ...            ...
34754  ...        3:42        2:13         1:4       total:311             10
34755  ...         3:1         2:0         1:0         total:1              0
34756  ...        3:89        2:26        1:19       total:345              8
34757  ...         3:2         2:2         1:0         total:8              1
34758  ...         3:4         2:0         1:0        total:13              4

       Language PagesNumber  \
0           NaN       192.0
1           NaN       160.0
2           NaN       256.0
3           NaN       226.0
4           NaN       320.0
...         ...         ...
34754       NaN         NaN
34755       NaN         NaN
34756       NaN         NaN
34757       NaN         NaN
34758       NaN         NaN

                                             Description pagesNumber  \
0      On 22 June 1941, Adolf Hitler launched Operati...         NaN
1                                                    NaN         NaN
2      On 22 June 1941, Adolf Hitler launched Operati...         NaN
3      The first anthology of new Romanian Drama publ...         NaN
4      In Waxing West, Daniella, newly arrived in the...         NaN
...                                                  ...         ...
34754  Here, collected in one volume, are tales and l...       637.0
34755  Among the narrative traditions of the Middle A...       224.0
34756                                                NaN       740.0
34757  Presents a new approach to selling that emphas...       220.0
34758  <i>Fantastic Antone Grows Up</i> is a field gu...       425.0

       Count of text reviews
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN
...                      ...
34754                   10.0
34755                    0.0
34756                    8.0
34757                    1.0
34758                    4.0

[1850310 rows x 21 columns]>

In [6]:
# these 2 columns are probably the only columns i need 
full_ds[["Publisher", "Description"]]

,Publisher,Description
0,New Line Books,"On 22 June 1941, Adolf Hitler launched Operati..."
1,Hippocrene Books,NaN
2,Ian Allan Ltd,"On 22 June 1941, Adolf Hitler launched Operati..."
3,Martin E. Segal Theatre Center Publications,The first anthology of new Romanian Drama publ...
4,Seagull Books,"In Waxing West, Daniella, newly arrived in the..."
...,...,...
34754,Sphere,"Here, collected in one volume, are tales and l..."
34755,Praeger,Among the narrative traditions of the Middle A...
34756,Irwin/McGraw-Hill,NaN
34757,Amacom,Presents a new approach to selling that emphas...
34758,University of Alaska Press,<i>Fantastic Antone Grows Up</i> is a field gu...

In [7]:
print(full_ds["Description"])

0        On 22 June 1941, Adolf Hitler launched Operati...
1                                                      NaN
2        On 22 June 1941, Adolf Hitler launched Operati...
3        The first anthology of new Romanian Drama publ...
4        In Waxing West, Daniella, newly arrived in the...
                               ...
34754    Here, collected in one volume, are tales and l...
34755    Among the narrative traditions of the Middle A...
34756                                                  NaN
34757    Presents a new approach to selling that emphas...
34758    <i>Fantastic Antone Grows Up</i> is a field gu...
Name: Description, Length: 1850310, dtype: object

In [8]:
pub_desc = full_ds[["Publisher", "Description"]]
print(pub_desc)

                                         Publisher  \
0                                   New Line Books
1                                 Hippocrene Books
2                                    Ian Allan Ltd
3      Martin E. Segal Theatre Center Publications
4                                    Seagull Books
...                                            ...
34754                                       Sphere
34755                                      Praeger
34756                            Irwin/McGraw-Hill
34757                                       Amacom
34758                   University of Alaska Press

                                             Description
0      On 22 June 1941, Adolf Hitler launched Operati...
1                                                    NaN
2      On 22 June 1941, Adolf Hitler launched Operati...
3      The first anthology of new Romanian Drama publ...
4      In Waxing West, Daniella, newly arrived in the...
...                                                  ...
34754  Here, collected in one volume, are tales and l...
34755  Among the narrative traditions of the Middle A...
34756                                                NaN
34757  Presents a new approach to selling that emphas...
34758  <i>Fantastic Antone Grows Up</i> is a field gu...

[1850310 rows x 2 columns]

In [9]:
pub_desc.info

#this quick overview shows me that there are descriptions missing

<bound method DataFrame.info of                                          Publisher  \
0                                   New Line Books
1                                 Hippocrene Books
2                                    Ian Allan Ltd
3      Martin E. Segal Theatre Center Publications
4                                    Seagull Books
...                                            ...
34754                                       Sphere
34755                                      Praeger
34756                            Irwin/McGraw-Hill
34757                                       Amacom
34758                   University of Alaska Press

                                             Description
0      On 22 June 1941, Adolf Hitler launched Operati...
1                                                    NaN
2      On 22 June 1941, Adolf Hitler launched Operati...
3      The first anthology of new Romanian Drama publ...
4      In Waxing West, Daniella, newly arrived in the...
...                                                  ...
34754  Here, collected in one volume, are tales and l...
34755  Among the narrative traditions of the Middle A...
34756                                                NaN
34757  Presents a new approach to selling that emphas...
34758  <i>Fantastic Antone Grows Up</i> is a field gu...

[1850310 rows x 2 columns]>

In [10]:
pub_desc.dtypes
# objects for both publisher and description is correct

Publisher      object
Description    object
dtype: object

In [11]:
# find the missing data 
print(pub_desc.isnull().sum())

Publisher       17826
Description    679122
dtype: int64

In [12]:
# I decided to remove the rows with the missing data (either missing publisher or missing description)
# by doing this I got rid of approximately 700k rows, but I have 1.1million rows left, which I think is acceptable to work with
# I think trying to find the publishers and descriptions of the 700k rows would be too time consuming 
pub_desc = pub_desc.dropna()
print(pub_desc)

                                         Publisher  \
0                                   New Line Books
2                                    Ian Allan Ltd
3      Martin E. Segal Theatre Center Publications
4                                    Seagull Books
5                             Meeting Eyes Bindery
...                                            ...
34752                                O'Brien Press
34754                                       Sphere
34755                                      Praeger
34757                                       Amacom
34758                   University of Alaska Press

                                             Description
0      On 22 June 1941, Adolf Hitler launched Operati...
2      On 22 June 1941, Adolf Hitler launched Operati...
3      The first anthology of new Romanian Drama publ...
4      In Waxing West, Daniella, newly arrived in the...
5      Poetry. Translation. DIARY OF A CLONE is a sma...
...                                                  ...
34752  Irish fairy tales and legends are full of ench...
34754  Here, collected in one volume, are tales and l...
34755  Among the narrative traditions of the Middle A...
34757  Presents a new approach to selling that emphas...
34758  <i>Fantastic Antone Grows Up</i> is a field gu...

[1163326 rows x 2 columns]

In [13]:
# reset the index. 
pub_desc = pub_desc.reset_index(drop=True)
print(pub_desc)

                                           Publisher  \
0                                     New Line Books
1                                      Ian Allan Ltd
2        Martin E. Segal Theatre Center Publications
3                                      Seagull Books
4                               Meeting Eyes Bindery
...                                              ...
1163321                                O'Brien Press
1163322                                       Sphere
1163323                                      Praeger
1163324                                       Amacom
1163325                   University of Alaska Press

                                               Description
0        On 22 June 1941, Adolf Hitler launched Operati...
1        On 22 June 1941, Adolf Hitler launched Operati...
2        The first anthology of new Romanian Drama publ...
3        In Waxing West, Daniella, newly arrived in the...
4        Poetry. Translation. DIARY OF A CLONE is a sma...
...                                                    ...
1163321  Irish fairy tales and legends are full of ench...
1163322  Here, collected in one volume, are tales and l...
1163323  Among the narrative traditions of the Middle A...
1163324  Presents a new approach to selling that emphas...
1163325  <i>Fantastic Antone Grows Up</i> is a field gu...

[1163326 rows x 2 columns]

In [14]:
# now to check if there are duplicate rows 
column_names = ['Publisher', 'Description']
duplicates = pub_desc.duplicated(subset = column_names, keep = False )
pub_desc[duplicates].sort_values(by = "Description")

                 Publisher                                        Description
816431      Nelson Thornes  !Asi! is the Spanish course for the Key Stage ...
816432      Nelson Thornes  !Asi! is the Spanish course for the Key Stage ...
5806            Birkhauser                                                  "
396268          Birkhauser                                                  "
1153741         Birkhauser                                                  "
...                    ...                                                ...
601120                 講談社  超ベストセラー「あさきゆめみし」文庫化!永遠のベストセラー・源氏物語をコミック化して1600...
601121                 講談社  超ベストセラー「あさきゆめみし」文庫化!永遠のベストセラー・源氏物語をコミック化して1600...
601122                 講談社  超ベストセラー「あさきゆめみし」文庫化!永遠のベストセラー・源氏物語をコミック化して1600...
1099342  Walter de Gruyter  ﻿Die Reihe <em>Studia Samaritana </em>versamme...
900520   Walter de Gruyter  ﻿Die Reihe <em>Studia Samaritana </em>versamme...

[92297 rows x 2 columns]

In [15]:
# going to drop duplicates as it wont add any value,
# but a new problem is non english characters which I have to figure out what to do about. 
pub_desc.drop_duplicates(inplace=True)

In [16]:
pub_desc[pub_desc.duplicated(keep = False)]
#great no more duplications!

Empty DataFrame
Columns: [Publisher, Description]
Index: []

In [17]:
pub_desc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1105015 entries, 0 to 1163325
Data columns (total 2 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Publisher    1105015 non-null  object
 1   Description  1105015 non-null  object
dtypes: object(2)
memory usage: 25.3+ MB